h2.intro {
  font-style: italic;
  font-weight: bold;
  margin-left: 10px;
}

p.intro {
  font-weight: bold;
  background-color: rgb(243, 187, 243);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 10px;
  width: 900px
}

img.intro {
  width: 40%;
  height: 40%;
  margin-left: 10px;
}

.body {
  margin-left: 10px;
  width: 900px;
}